<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Organization</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
</head>
<body>

<div th:include="/fragments/header :: menu"></div>


<div class="container-md">
    <h1>New Organization</h1>
    <form  method="POST" th:object="${organization}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Name: </label>
                <input id="name" class="form-control"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                       th:field="*{name}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <label th:errors="*{name}" >name error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="description">Description: </label>

                <input id="description" class="form-control"
                       th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                       th:field="*{description}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <label th:errors="*{description}">description error placeholder</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail: </label>

            <input id="email" class="form-control"
                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                   th:field="*{email}" type="text"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                <label th:errors="*{email}">email error placeholder</label>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="mobile">Mobile: </label>

                <input id="mobile" class="form-control"
                       th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' : ''}"
                       th:field="*{mobile}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('mobile')}">
                    <label th:errors="*{mobile}">mobile error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-4">

                <label for="telephone">Telephone: </label>

                <input id="telephone" class="form-control"
                       th:classappend="${#fields.hasErrors('telephone') ? 'is-invalid' : ''}"
                       th:field="*{telephone}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('telephone')}">
                    <label th:errors="*{telephone}">telephone error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="fax">Fax: </label>

                <input id="fax" class="form-control"
                       th:classappend="${#fields.hasErrors('fax') ? 'is-invalid' : ''}"
                       th:field="*{fax}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('fax')}">
                    <label th:errors="*{fax}">fax error placeholder</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="street">Street
                address: </label>

            <input id="street"
                   class="form-control"
                   th:classappend="${#fields.hasErrors('address.street') ? 'is-invalid' : ''}"
                   th:field="*{address.street}" type="text"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('address.street')}">
                <label th:errors="*{address.street}">address.street error placeholder</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="zip">Zip
                    code: </label>
                <input id="zip"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('address.zip') ? 'is-invalid' : ''}"
                       th:field="*{address.zip}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address.zip')}">
                    <label th:errors="*{address.zip}">address.zip error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-3">

                <label for="city">City: </label>

                <input id="city"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('address.city') ? 'is-invalid' : ''}"
                       th:field="*{address.city}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address.city')}">
                    <label th:errors="*{address.city}">address.city error placeholder</label>
                </div>

            </div>
            <div class="form-group col-md-3">
                <label for="province">Province: </label>

                <input id="province"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('address.province') ? 'is-invalid' : ''}"
                       th:field="*{address.province}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address.province')}">
                    <label th:errors="*{address.province}">address.province error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-3">

                <label for="country">Country: </label>

                <input id="country"
                       class="form-control"
                       th:classappend="${#fields.hasErrors('address.country') ? 'is-invalid' : ''}"
                       th:field="*{address.country}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address.country')}">
                    <label th:errors="*{address.country}">address.country error placeholder</label>
                </div>
            </div>
        </div>
        <div class="form-group">

            <label for="addressDescription">Address
                description: </label>

            <input id="addressDescription"
                   class="form-control"
                   th:classappend="${#fields.hasErrors('address.description') ? 'is-invalid' : ''}"
                   th:field="*{address.description}" type="text"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('address.description')}">
                <label th:errors="*{address.description}">address.description error placeholder</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="parentOrganization">Parent Organization: </label>
                <select id="parentOrganization"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('parentOrganization') ? 'is-invalid' : ''}"
                        th:field="*{parentOrganization.id}">
                    <option th:value=null text="Please Select" />
                    <option th:each="currentOrganization :${otherOrganizationList}"
                            th:text="${currentOrganization.name}" th:value="${currentOrganization.id}"/>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('parentOrganization')}">
                    <label th:errors="*{parentOrganization}">parentOrganization error placeholder</label>
                </div>
            </div>
        </div>
        <input  type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />

        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

    </form>

</div>
<!--TODO: Back Button -->
<div th:include="/fragments/footer :: copyright"></div>
</body>
</html>