<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User and related Organization</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
</head>
<body>

<div th:include="/fragments/header :: menu"></div>


<div class="container-md">
    <h1>Set user to related organization</h1>
    <form  method="POST" th:object="${userListDto}">
        <table  border="1" class="table table-striped table-bordered table-hover table-sm table-responsive-sm">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Organization</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${userListDto == null || userListDto.userList == null || userListDto.userList.isEmpty()}">
                <td colspan="16"> No User Available</td>
            </tr>
            <tr th:each="user, status : ${userListDto.userList}">
                <th scope="row">
                    <span th:text="${user.username}"></span>
                    <input type="hidden" th:field="*{userList[__${status.index}__].id}" />
                </th>
                <td>
                <select id="organization"
                        class="form-control"
                        th:field="*{userList[__${status.index}__].organization.id}">>
                    <option th:each="currentOrganization :${organizationList}"
                            th:text="${currentOrganization.description}" th:value="${currentOrganization.id}"/>
                </select>
                </span></td>
            </tr>
            </tbody>
        </table>
        <input  type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />

        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

</div>
<!--TODO: Back Button -->
<div th:include="/fragments/footer :: copyright"></div>
</body>
</html>