<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
  </head>
  
  <body>
  <div th:include="/fragments/header :: menu"></div>
  <div class="container-md">
    <h1>Error</h1>

    <div th:if="${error}">
      <table border="1" class="table table-striped table-bordered table-hover table-sm table-responsive-sm">
        <tr>
          <td>Date</td>
          <td th:text="${timestamp}"/>
        </tr>
        <tr>
          <td>Path</td>
          <td th:text="${path}"/>
        </tr>
        <tr>
          <td>Error</td>
          <td th:text="${error}"/>
        </tr>
        <tr>
          <td>Status</td>
          <td th:text="${status}"/>
        </tr>
        <tr>
          <td>Message</td>
          <td th:text="${message}"/>
        </tr>
        <tr>
          <td>Exception</td>
          <td th:text="${exception}"/>
        </tr>
        <tr>
          <td>Trace</td>
          <td>
            <pre th:text="${trace}"/>
          </td>
        </tr>
      </table>
    </div>

  </div>
  <div th:include="/fragments/footer :: copyright"></div>
  </body>
</html>