<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
</head>
<body>
<div th:include="/fragments/header :: menu"></div>

<div class="container-fluid">
    <h1>Users</h1>
    <a th:href="@{/user/new}" class="btn btn-primary">Add user</a>

    <table border="1" class="table table-striped table-bordered table-hover table-sm table-responsive-sm">
        <thead>
        <tr>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir}}">username</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">name</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=surname&sortDir=' + ${reverseSortDir}}">surname</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">email</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=mobile&sortDir=' + ${reverseSortDir}}">mobile</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=telephone&sortDir=' + ${reverseSortDir}}">telephone</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=fax&sortDir=' + ${reverseSortDir}}">fax</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">description</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.street&sortDir=' + ${reverseSortDir}}">Street
                address</a></th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.zip&sortDir=' + ${reverseSortDir}}">Zip
                code</a></th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.city&sortDir=' + ${reverseSortDir}}">City</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.province&sortDir=' + ${reverseSortDir}}">Province</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.country&sortDir=' + ${reverseSortDir}}">Country</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=address.description&sortDir=' + ${reverseSortDir}}">Address
                Description</a></th>
            <th scope="col"><a
                    th:href="@{'/users/page/' + ${currentPage} + '?sortField=organization.description&sortDir=' + ${reverseSortDir}}">Organization</a>
            </th>
            <th scope="col" colspan="2">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${userList == null || userList.isEmpty()}">
            <td colspan="16"> No User Available</td>
        </tr>
        <tr th:each="currentUser : ${userList}">
            <th scope="row"><span th:text="${currentUser.username}"></span></th>
            <td><span th:text="${currentUser.name}"></span></td>
            <td><span th:text="${currentUser.surname}"></span></td>
            <td><span th:text="${currentUser.email}"></span></td>
            <td><span th:text="${currentUser.mobile}"></span></td>
            <td><span th:text="${currentUser.telephone}"></span></td>
            <td><span th:text="${currentUser.fax}"></span></td>
            <td><span th:text="${currentUser.description}"></span></td>
            <td><span th:text="${currentUser.address.street}"></span></td>
            <td><span th:text="${currentUser.address.zip}"></span></td>
            <td><span th:text="${currentUser.address.city}"></span></td>
            <td><span th:text="${currentUser.address.province}"></span></td>
            <td><span th:text="${currentUser.address.country}"></span></td>
            <td><span th:text="${currentUser.address.description}"></span></td>
            <td><span th:text="${currentUser.organization.description}"></span></td>
            <td>
                <a th:href="@{/user/edit/{id} (id=${currentUser != null ? currentUser.id:null})}"
                   class="btn btn-primary">Update</a>
            </td>
            <td>
                <a onclick="return confirm('Are you sure you want to Remove?');"
                   th:href="@{/user/delete/{id}(id=${currentUser != null ? currentUser.id:null})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-sm-2">Total elements: [[${totalElements}]]</div>

    <nav th:if="${totalPages > 1}" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${(currentPage == 1) ? 'disabled' : ''}">
                <a th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   class="page-link">&laquo;</a>
            </li>
            <li class="page-item" th:classappend="${(currentPage == 1) ? 'disabled' : ''}">
                <a th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
                   class="page-link">&lsaquo;</a>
            </li>

            <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${(currentPage == i) ? 'active' : ''}">
                <a th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
                   class="page-link">[[${i}]]</a>
            </li>
            <li class="page-item" th:classappend="${(currentPage == totalPages) ? 'disabled' : ''}">
                <a th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   class="page-link">&rsaquo;</a>
            </li>
            <li class="page-item" th:classappend="${(currentPage == totalPages) ? 'disabled' : ''}">
                <a th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                   class="page-link">&raquo;</a>
            </li>
        </ul>
    </nav>
    </div>
    <div th:include="/fragments/footer :: copyright"></div>
</body>
</html>