<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Role</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.3-dist/css/bootstrap.css}"/>
</head>
<body>

<div th:include="/fragments/header :: menu"></div>


<div class="container-md">
    <h1>New Role</h1>
    <form  method="POST" th:object="${role}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name: </label>
                <input id="name" class="form-control"
                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                       th:field="*{name}" type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <label th:errors="*{name}" >name error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="type">Type: </label>

                <select id="type"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('type') ? 'is-invalid' : ''}"
                        th:field="*{type}">
                    <option th:each="roleType : ${T(com.gnifre.spring.inaction.partfour.model.RoleType).values()}"
                             th:text="${roleType}" th:value="${roleType}"/>
                </select>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}">
                    <label th:errors="*{type}">type error placeholder</label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="parentRole">Parent Role: </label>
                <select id="parentRole"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('parentRole') ? 'is-invalid' : ''}"
                        th:field="*{parentRole.id}">
                    <option th:value=null text="Please Select" />
                    <option th:each="currentRole :${otherRoleList}"
                            th:text="${currentRole.name}" th:value="${currentRole.id}"/>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('parentRole')}">
                    <label th:errors="*{parentRole}">parentRole error placeholder</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="description">Description: </label>

            <input id="description" class="form-control"
                   th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"
                   th:field="*{description}" type="text"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                <label th:errors="*{description}">description error placeholder</label>
            </div>
        </div>
        <div class="form-group">
            <label>Users: </label>
            <th:block th:each="currentUser :${userList}">
                <div class="form-check">
                    <input type="checkbox" th:field="*{userSet}"  th:value="${currentUser.id}" class="form-check-input" />
                    <label class="form-check-label" th:text="${currentUser.name}"/>
                </div>
            </th:block>

            <div class="invalid-feedback" th:if="${#fields.hasErrors('userSet')}">
                <label th:errors="*{userSet}">userSet error placeholder</label>
            </div>
        </div>
        <input  type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />

        <button type="submit" class="btn btn-success">Save</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

    </form>

</div>
<!--TODO: Back Button -->
<div th:include="/fragments/footer :: copyright"></div>
</body>
</html>